@tailwind base;
@tailwind components;
@tailwind utilities;


.child{
    display: none;
}
.parent:hover .child{
    display: block;
}
/* .him{
    background-image: url(assets/book.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.custom-shape-divider-bottom-1731021532 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1731021532 svg {
    position: relative;
    display: block;
    width: calc(124% + 1.3px);
    height: 332px;
}

.custom-shape-divider-bottom-1731021532 .shape-fill {
    fill: white;
}

